@import 'moreComponent.css';

:root {
  --component: 1px;
  --common: url('component');
}

#component {
  border: var(--component)
}

#common {
  background: var(--common);
  border: var(--requiredtwice);
}
